<div id="navigation">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About Us</a></li>
<li><a href="/events">Event Calendar</a></li>
<li><a href="/bio">Biography of Judge J.N. Campbell</a></li>
<!-- li><a href="/photo"><b>Photo Gallery</b></a></li -->
<li><a href="/plans">Plans</a></li>
<li><a href="/historical_dig">Historical Dig</a></li>
<li><a href="/lost_homes">Lost/Hidden/Saved Homes</a></li>
<li><a href="/signup">Preservation Longview Membership</a></li>
<li><a href="/gerard-cace">Gerard Cace Memorial</a></li>
<li><a href="/sponsor">Sponsorships/Donations</a></li>
<li><a href="/donors">Donors</a></li>
<li><a href="/resources">Resources</a></li>
<li><a href="/contact">Contact Us</a></li>

</ul>
<p><img src="/images/judgecampbell.jpg" alt="Judge Campbell" width="200" height="251" /></p>
<p class="caption">Judge Campbell.</p>
</div>